.ant-pagination-item,.ant-pagination-item > a , .ant-pagination-item-link{
    background-color: #0077b6 !important;
    color: white !important;
}
.ant-pagination-item-active a{
    font-weight: 500 !important;
    color: #03045e !important;
}